@charset "utf-8";

html{
    background-color: rgba(248, 232, 243);
}

body,
html,
header {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
   margin-top:0px ;
   margin-bottom: 10px;
}

header,p {
    padding-top: 0px;
    margin-top: 0px;
     background-color:rgb(211, 211, 211) ;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
}

.nav__button--menu {
    display: inline-block;
    width: 100%;
    background-color: rgb(70, 70, 70);
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
}

#MenuMerc {
    display: none;
    padding-left: 0px;
    margin-top: 0px;
}

li {
    border: 1px solid rgb(128, 128, 128);
    text-align: center;
    background-color: rgb(98, 97, 97);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}
.main__soma{
    font-size: 20px;
    margin: 10px;
}

#soma{
    width: 100px;
    font-size: 20px;
}

.main__titulo {
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
}

.main__button--titulo {
    width: 100%;
    display: flex;
    background-color: rgb(103,36,103);
    margin-bottom: 0px;
    border: none;
    text-align: left;
    color: white;
    font-size: 21px;
    box-shadow: 0px 1px 5px rgba(224, 143, 224, 0.5);
}

.main__titulo--span {
    width: 50%;
}

.material-symbols-outlined {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.main__bloco {
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;

}

.main__item {
    position: relative;
    height: 180px;
    min-width: 140px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 0.7);
}

.main__item--span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
}

.main__item--text {
    position: absolute;
    top: 68%;
    left: 3%;
    width: 70px;
    height: 30px;
    text-align: center;
    font-size: 21px;
}

.main__input--number-last {
    position: absolute;
    height: 30px;
    width: 30px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 0px;
    display: inline-block;
    left: 77%;
    top: 68%;
    text-align: left;
    border: 0.5px solid gray;
    border-radius: 30px;
}

.main__input--number-stock {
    position: absolute;
    height: 30px;
    width: 45px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 0px;
    left: 65%;
    top: 3%;
    border: 0.5px solid gray;
    border-radius: 3px;
}

.main__input--number-check {
    height: 30px;
    width: 45px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 0px;
    margin-top: 2%;
    margin-left: 2%;
    border: 0.5px solid gray;
    border-radius: 3px;
}

/* Comandos Mouse */
.main__button--titulo:hover {
    background-color: rgb(162, 114, 174);
    margin-bottom: 10px;
    box-shadow: none;
    color: white;
}

li:hover {
    background-color: gray;
}


.main__input--number-check:hover {
    scale: 300%;
    width: 45px;
}

.main__input--number-stock:hover {
    scale: 300%;
    width: 45px;
}

.main__input--number-last:hover {
    scale: 300%;
    width: 45px;
    border-radius: 0px;
}

.main__item--text:hover {
    scale: 300%;
    width: 65px;
}

/* imagens */
/* #main__bloco--1-1{
    background-image: url(imagens/doritos-flamin-hot.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} */